
.navbar {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.faculty-tab-link {
  width: 33.33%;
}

.faculty-class-tab-link {
  width: auto;
}

form > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

form > p > input, form > p > textarea {
  width: 100%;
}

form > p > input {
  height: 35px;
}

form > p > label {
  display: None;
}

.errorlist {
  list-style-type: none;
  color: red;
}

.home-section-text-yala {
  padding: 10px 34px;
  text-align: center;
}

.faculty-image-holder {
  display: block;
  width: 150px;
  height: 200px;
  margin: 30px auto;
  background-color: transparent;
}