
{% extends "academic_base.html" %}

{% load static tyndale_tags wagtailcore_tags wagtailimages_tags %}



{% block page_name_for_section %}academic-program{% endblock %}
{% block page_name_for_container %}academic{% endblock %}
{% block blank-col %}w-col-stack{% endblock %}
{% block w-col-stack %}w-col-stack{% endblock %}
{% block w-container %}w-container{% endblock %}
{% block wide-container %}wide-container{% endblock %}

{% block w-col-9 %}
    {% with self.programs.all as academic_programs %}
        {% if academic_programs %}
            {% for program in academic_programs %}
            <div class="w-dropdown program-dropdown" data-delay="900">
                <div class="w-dropdown-toggle program-dropdown-toggle" data-ix="accordion">
                     <div class="programs-title">{{ program.program_name }}</div>
                     <div class="w-icon-dropdown-toggle program-dropdown-icon"></div>
                </div>
                <div class="w-dropdown-list program-dropdown-list" data-ix="hidden">
                    <div class="program-content">{{ program.program_description | richtext }}</div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
