
{% extends "base.html" %}

{% load static tyndale_tags wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="w-section contact-section">
    <div class="w-widget w-widget-map map" data-widget-latlng="34.0492437,-118.27351699999997" data-widget-style="roadmap" data-widget-zoom="12" data-ix="fade-in"></div>
    <div class="w-container form-container">
      <div class="form-container">
        <h1 class="form-heading" data-ix="slidedown">{{ self.contact_header }}</h1>
        <div class="separator"></div>
        <h4 class="form-subheading" data-ix="sdown-load-300">{{ self.contact_subheader }}</h4>

          <form action="{% pageurl self %}" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="w-button form-button" type="submit" value="Submit" data-wait="Please wait..." data-ix="slide-down-900">
          </form>
      </div>
    </div>
  </div>
{% endblock %}
