
{% extends "academic_base.html" %}

{% load static tyndale_tags wagtailcore_tags wagtailimages_tags %}



{% block page_name_for_section %}faculty{% endblock %}
{% block page_name_for_container %}about{% endblock %}
{% block blank-col %}w-col-stack{% endblock %}
{% block w-col-stack %}w-col-stack{% endblock %}


{% block w-col-9 %}

<div class="w-tabs faculty-tabs" data-duration-in="300" data-duration-out="100">
    <div class="w-tab-menu faculty-tab-menu">
       <a class="w-tab-link w--current w-inline-block faculty-tab-link" data-w-tab="Tab 1">
         <div class="faculty-tab-text-block">{{ self.tab_title_1 }}</div>
       </a>
       <a class="w-tab-link w-inline-block faculty-tab-link" data-w-tab="Tab 2">
         <div class="faculty-tab-text-block">{{ self.tab_title_2 }}</div>
       </a>
    </div>

    <div class="w-tab-content faculty-tab-content">
        <div class="w-tab-pane w--tab-active faculty-tab-pane" data-w-tab="Tab 1">
            {% with self.courses.all as courses %}
                {% if courses %}
                    {% for course in courses %}

                        <div class="w-dropdown program-dropdown" data-delay="900">
                          <div class="w-dropdown-toggle program-dropdown-toggle" data-ix="accordion">
                            <div class="programs-title">{{ course.course_name }}</div>
                            <div class="w-icon-dropdown-toggle program-dropdown-icon"></div>
                          </div>

                          <div class="w-dropdown-list program-dropdown-list" data-ix="hidden">
                            <div class="program-content">
                              {% with self.professors.all as professors %}
                                  {% if professors %}
                                      {% for professor in professors %}
                                          {% if professor.course.course_name == course.course_name %}
                                              <div class="w-row faculty-row">
                                                <div class="w-col w-col-3 blank-col">
                                                  <div class="faculty-image-holder">
                                                      {% image professor.professor_image max-150x200 as professor_image %}
                                                      <img src="{{ professor_image.url }}" alt="">
                                                  </div>
                                                </div>
                                                <div class="w-col w-col-9">
                                                  <div class="faculty-spec-content">
                                                    <h1 class="faculty-name-heading">{{ professor.professor_name }}</h1>
                                                    <div class="faculty-spec-paragraph">{{ professor.professor_spec | richtext }}</div>
                                                  </div>
                                                </div>
                                              </div>
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                              {% endwith %}
                            </div>
                          </div>
                          </div>

                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="w-tab-pane faculty-tab-pane" data-w-tab="Tab 2">
            {% with self.adjunct_professors.all as adjunct_professors %}
                {% if adjunct_professors %}
                    {% for adjunct_professor in adjunct_professors %}

                        <div class="w-row faculty-row">
                             <div class="w-col w-col-3 blank-col">
                                <div class="faculty-image-holder">
                                    {% image adjunct_professor.professor_image max-150x200 as adjunct_professor_image %}
                                    <img src="{{ adjunct_professor_image.url }}" alt="">
                                </div>
                             </div>
                             <div class="w-col w-col-9">
                                <div class="faculty-spec-content">
                                  <h1 class="faculty-name-heading">{{ adjunct_professor.professor_name }}</h1>
                                  <div class="faculty-subtitle">{{ adjunct_professor.professor_course }}</div>
                                  <div class="faculty-spec-paragraph">{{ adjunct_professor.professor_spec | richtext }}</div>
                                </div>
                              </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

</div>
{% endblock %}

